name: Build tmux

on:
  push:
  # TODO: Once working, dispatch workflow on tag creation

env:
  # TODO: Define these in a separate file
  TMUX_VERSION: "3.6a"
  MUSL_VERSION: "1.2.5"
  LIBEVENT_VERSION: "2.1.12"
  NCURSES_VERSION: "6.5"
  PREFIX: /tmp/build

jobs:
  build:
    name: Build tmux (${{ matrix.arch }})
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, arm64 ]
        include:
          - arch: x86_64
            runs_on: ubuntu-24.04
          - arch: arm64
            runs_on: ubuntu-24.04-arm

    runs-on: ${{ matrix.runs_on }}

    steps:
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
              bison \
              build-essential \
              tar \
              pkg-config \
              wget

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build musl
        run: |
          ./scripts/build_musl.sh
          echo "CC=${PREFIX}/bin/musl-gcc -static" >> "$GITHUB_ENV"

      - name: Build libevent
        run: ./scripts/build_libevent.sh

      - name: Build ncurses
        run: ./scripts/build_ncurses.sh

      - name: Build tmux
        run: ./scripts/build_tmux.sh

      - name: Verify tmux binary
        run: |
          file ${{ env.PREFIX }}/bin/tmux
          ldd ${{ env.PREFIX }}/bin/tmux || true
          ${{ env.PREFIX }}/bin/tmux new-session -d -s test
          ${{ env.PREFIX }}/bin/tmux ls
          ${{ env.PREFIX }}/bin/tmux kill-session -t test

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: tmux-linux-${{ matrix.arch }}-musl
          path: ${{ env.PREFIX }}/bin/tmux

