name: Build tmux and create release

on:
  push:
    tags:
      - 'v*'

env:
  PREFIX: /tmp/build

jobs:
  build-linux:
    name: Build tmux (linux-${{ matrix.arch }})
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, arm64 ]
        include:
          - arch: x86_64
            runs_on: ubuntu-24.04
          - arch: arm64
            runs_on: ubuntu-24.04-arm

    runs-on: ${{ matrix.runs_on }}

    steps:
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
              bison \
              build-essential \
              tar \
              pkg-config \
              wget

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Load version file
        run: |
          echo "Loading versions from versions.env"
          source versions.env
          echo "TMUX_VERSION=$TMUX_VERSION" >> "$GITHUB_ENV"
          echo "MUSL_VERSION=$MUSL_VERSION" >> "$GITHUB_ENV"
          echo "LIBEVENT_VERSION=$LIBEVENT_VERSION" >> "$GITHUB_ENV"
          echo "NCURSES_VERSION=$NCURSES_VERSION" >> "$GITHUB_ENV"

      - name: Build musl
        run: |
          ./scripts/build_musl.sh
          echo "CC=${PREFIX}/bin/musl-gcc -static" >> "$GITHUB_ENV"

      - name: Build libevent
        run: ./scripts/build_libevent.sh

      - name: Build ncurses
        run: ./scripts/build_ncurses.sh

      - name: Build tmux
        run: ./scripts/build_tmux.sh

      - name: Verify tmux binary
        run: |
          echo "Checking tmux binary"
          file ${{ env.PREFIX }}/bin/tmux

          echo "Creating a new tmux session"
          ${{ env.PREFIX }}/bin/tmux new-session -d -s test

          echo "Listing tmux sessions"
          ${{ env.PREFIX }}/bin/tmux ls

          echo "Killing test tmux session"
          ${{ env.PREFIX }}/bin/tmux kill-session -t test

      - name: Archive tmux binary
        run: |
          ARCHIVE_NAME=tmux-v${{ env.TMUX_VERSION }}-linux-${{ matrix.arch }}-musl.tar.gz
          tar -czf "${ARCHIVE_NAME}" -C ${{ env.PREFIX }}/bin tmux
          echo "ARCHIVE_NAME=$ARCHIVE_NAME" >> "$GITHUB_ENV"

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARCHIVE_NAME }}
          path: ${{ env.ARCHIVE_NAME }}

  build-macos:
    name: Build tmux (macos-${{ matrix.arch }})
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, arm64]
        include:
          - arch: x86_64
            runs_on: macos-15-intel
          - arch: arm64
            runs_on: macos-15


    runs-on: ${{ matrix.runs_on }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Load version file
        run: |
          echo "Loading versions from versions.env"
          source versions.env
          echo "TMUX_VERSION=$TMUX_VERSION" >> "$GITHUB_ENV"
          echo "LIBEVENT_VERSION=$LIBEVENT_VERSION" >> "$GITHUB_ENV"
          echo "NCURSES_VERSION=$NCURSES_VERSION" >> "$GITHUB_ENV"
          echo "UTF8PROC_VERSION=$UTF8PROC_VERSION" >> "$GITHUB_ENV"

      - name: Build libevent
        run: ./scripts/build_libevent.sh

      - name: Build ncurses
        run: ./scripts/build_ncurses.sh

      - name: Build utf8proc
        run: ./scripts/build_utf8proc.sh

      - name: Build tmux
        run: ./scripts/build_tmux.sh

      - name: Verify tmux binary
        run: |
          echo "Checking tmux binary"
          file ${{ env.PREFIX }}/bin/tmux

          echo "Listing dynamic libraries linked to tmux"
          otool -L ${{ env.PREFIX }}/bin/tmux

          echo "Creating a new tmux session"
          ${{ env.PREFIX }}/bin/tmux new-session -d -s test

          echo "Listing tmux sessions"
          ${{ env.PREFIX }}/bin/tmux ls

          echo "Killing test tmux session"
          ${{ env.PREFIX }}/bin/tmux kill-session -t test

      - name: Archive tmux binary
        run: |
          ARCHIVE_NAME=tmux-v${{ env.TMUX_VERSION }}-macos-${{ matrix.arch }}.tar.gz
          tar -czf "${ARCHIVE_NAME}" -C ${{ env.PREFIX }}/bin tmux
          echo "ARCHIVE_NAME=$ARCHIVE_NAME" >> "$GITHUB_ENV"

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARCHIVE_NAME }}
          path: ${{ env.ARCHIVE_NAME }}

  collect-licenses:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Collect licenses
        run: |
          ./scripts/collect_licenses.sh

      - name: Upload licenses artifact
        uses: actions/upload-artifact@v4
        with:
          name: LICENSES.tar.gz
          path: ${{ env.PREFIX }}/LICENSES.tar.gz

  create-release:
    needs: [build-linux, build-macos, collect-licenses]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: dist

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
